@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel/Cinzel-VariableFont_wght.ttf') format('woff2');
}

body {
  background-color: black;
  font-family: 'Cinzel', serif;
}

footer {
  display: flex;
  padding-left: 10px;
  background-color: #555555;
  justify-content: space-between; 
  align-items: center; 
  color: #f3f3f1;
}

form {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 10px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: #f3f3f1;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: #555555;
  padding: 10px;
}

.choice {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  background-color: #f3f3f1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5ps;
  padding-top: 5px;
}

.rekord {
  display: flex;
  align-items: center;
  background-color: #f3f3f1;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
  
}

.rekord img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.rekord p {
  margin-left: 20px;
  font-size: 16px;
  
}


nav ul {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #555555;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #f3f3f1;
  padding: 10px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: grey;
}

ul li a.active {
  background-color: #111111ac;
}

.boss {
  height: 250px;
}

.boss_container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.obrazki {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.home {
  margin: 0 auto;
  text-align: center;
}
.home img {
  width: 60%;
  height: auto;
}

.zegarek {
    color: #f3f3f1;       
    font-size: 24px;
    display: flex;
    align-items: flex-end;  
    justify-content: flex-end;
    margin-right: 20px;
}
